*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .bg-home {
    background: linear-gradient(90deg, rgba(220,20,60,1) 0%, rgba(255,194,0,1) 100%, rgba(0,0,0,1) 100%);; 
    color: #FFFFFF; 
  }
  
  header {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-content {
    display: flex;
  }
  
  .header-content a {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 20px;
    font-size: 1.2em;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .header-content a:hover {
    color: #8B4513; 
  }
  
  .header-logo img {
    width: 120px;
    height: auto;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero {
    background-image: url('src/image/frentebar.png');
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    text-align: center;
    color: #F5F5F5;
    
  }
  
  .hero h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
  }
  
  .hero h2 {
    font-size: 1.8em;
    margin-bottom: 30px;
    font-weight: 600;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  
  .footer {
    background-color: #8B4513; 
    color: #FFFFFF;
    padding: 50px 0;
    text-align: center;
  }
  
  .footer img {
    width: 120px;
    height: auto;
  }
  
  .btn-whatsapp {
    position: fixed;
    z-index: 99;
    bottom: 14px;
    right: 24px;
}

.btn-whatsapp img {
    max-width: 60px;
    transition: transform 0.4s;
}

.btn-whatsapp img:hover {
    transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    background-color: #333333; 
    color: #FFFFFF; 
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .btn-whatsapp img {
        max-width: 50px;
    }
    .header-logo img {
        display: none;
      }
}
