@charset "UTF-8";

@import url(style.css);

@import url(nav.css);

@import url(footer.css);

.hero {
  background-image: url('../image/frentebar.png');
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  text-align: center;
  color: var(--cor-branca);  
}
  
.hero-logo img {
  display: none;
}

.hero h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
}
  
.hero h2 {
  font-size: 1.8em;
  margin-bottom: 30px;
  font-weight: 600;
}
  
.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}
 

.button-insta {
  display: inline-block;
  background: linear-gradient(90deg, rgba(220,20,60,1) 0%, rgba(255,194,0,1) 100%); 
  color: #fff;
  font-family: 'Sora', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.6s ease;  
}


.button-insta:hover {
  background: linear-gradient(90deg, rgba(255,194,0,1) 0%, rgba(220,20,60,1) 100%, rgba(0,0,0,1) 100%);
  cursor: pointer;
  
}


