@charset "UTF-8";

@import url(style.css);

@import url(nav.css);

@import url(footer.css);

.about {
    overflow: hidden;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;  
    background-color: rgba(165, 97, 42, 0.555); 
    overflow: hidden;
}

.about-content img {
    max-width: 570px;
    border-radius: 50%;
    height: auto;
}

.about-content div {
    flex: 1;
}

.about-description h2 {
    font-size: 54px;
    margin-bottom: 24px;
}

.about-description p {
    margin-bottom: 14px;
    line-height: 150%;
    font-size: 22px;
}

.reverse{
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
}


