$vermelho-puro: #FF0000;
$vermelho-escuro: #CC0000;
$vermelho-claro: #FF6666;

$preto-puro: #000000;
$preto-escuro: #333333;
$preto-medio: #666666;

$branco-puro: #FFFFFF;
$branco-neutro: #F2F2F2;
$branco-suave: #CCCCCC;
